# Created by .ignore support plugin (hsz.mobi)
/.idea
PHP7 DOC.docx
/nbproject/private/

### macOS ###
*.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json.history

test.php
